name: Publish release

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  build-linux:
    name: Build on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Rust targets
        run: |
          rustup target add aarch64-unknown-linux-gnu
          rustup target add x86_64-unknown-linux-gnu
      - name: Install linker
        run: |
          sudo apt install --yes gcc-aarch64-linux-gnu
      - name: Build dynamic libraries
        run: |
          uv run --no-project --python 3.12 cargo build --profile release --target aarch64-unknown-linux-gnu
          uv run --no-project --python 3.12 cargo build --profile release --target x86_64-unknown-linux-gnu
        working-directory: rust
      - name: Build wheels
        run: uv build --wheel --config-setting distributions=linux-aarch64,linux-x86_64
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-linux
          path: dist

  build-macos:
    name: Build on macOS
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build dynamic libraries
        run: |
          uv run --no-project --python 3.12 cargo build --profile release --target aarch64-apple-darwin
        working-directory: rust
      - name: Build wheels
        run: uv build --wheel --config-setting distributions=macos
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-macos
          path: dist

  upload:
    name: Upload distributions to PyPI
    runs-on: ubuntu-latest
    needs: [build-linux, build-macos]
    environment:
      name: pypi
      url: https://pypi.org/p/plplugins
    permissions:
      id-token: write
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v6
      - name: Move wheels
        run: |
          mkdir dist
          mv wheels-linux/* dist/
          mv wheels-macos/* dist/
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
